:root {
    --branco: #FFF;
    --backt: rgba(255,255,255,0.2);
    --cinza: var(--secondary-color)/*#EFEFEF*/;

    --primary-color: #FFF/*#262835*/;
    --secondary-color: #51AE60/*#FF5473*/;
}